/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

/* Global styles */
body {
    font-family: 'Silkscreen', sans-serif;
    background: white;
    color: black;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 200px;
    padding-right: 5px;
}

.control {
    display: inline-block;
    margin: 2px;
    width: 80px;
    height: 40px;
}

#message {
    height: 20px;
}

.player {
    background-color: lightblue;
    float: left;
    max-width: 90%;
    margin-left: 10%;
    
}

#player-image {
   width: 75%;
}

.computer {
    background-color: lightpink ;
    float: right;
    max-width: 90%;
    margin-right: 10%;
}

#computer-image {
    width: 75%;
}

.control {
    font-family: 'Silkscreen', sans-serif;
    text-align: center;
    width: 150px;
}

.greenText {
    color: green;
}

.redText {
    color: red;
}

.orangeText {
    color: orange;
}