/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

/* Global styles */
body {
    font-family: 'Silkscreen', sans-serif;
    background: black;
    color: white;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 200px;
    padding-right: 5px;
}

.control {
    display: inline-block;
    margin: 2px;
    width: 80px;
    height: 40px;
}

#message {
    height: 20px;
}

.game-area {
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

.rounds-number button {
    font-family: 'Silkscreen', sans-serif;
    text-align: center;
    width: 100px;
    height: 50px;
    background-color: white;
}

#player-and-computer {
    display: flex;
}

.player {
    background-color: white;
    max-width: 50%;
    margin-left: 1%;
    color: black;
    float: left;
    margin-right: 1%;

}

#player-image {
    width: 75%;
}

.computer {
    background-color: white;
    max-width: 50%;
    margin-right: 1%;
    color: black;
    float: right;
    margin-left: 1%;
}

#computer-image {
    width: 75%;
}

.control {
    font-family: 'Silkscreen', sans-serif;
    text-align: center;
    width: 150px;
    background-color: white;
}

.greenText {
    color: rgb(31, 235, 31);
}

.redText {
    color: rgb(252, 19, 19);
}

.orangeText {
    color: orange
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {}

/* Media query: tablets and larger (768px and up) */
 @media screen and (min-width: 768px) {

 
} 